<!DOCTYPE html>
<html>
	<head>
		<title>ЗУНы профстандартов</title>
		<link rel="stylesheet" href="../static/style.css">
		<script src="../static/js/jquery-3.1.1.min.js"></script>
		<!-- <script src="../static/js/area_standard.js"></script> -->
		<script>
			$(function(){
				$('#btnArea').click(function(){
					alert("Это может занять некоторое время")
				});
			});
		</script>
	</head>
	<body>
		<header>
				<h1 align="center">Система мониторинга требований к IT-специалистам<br/> 
				на примере программиста</h1>
		</header>
		<div class="main">
			<div class="decor">
				<form  method="post" action="{{ url_for('prof_standard') }}">
					<label for="prof_area" class="sr-only">Уровень образования</label>
					<select name="prof_area" id="education" class="decor_select" required="required">
						<option selected="selected">Выберите образование</option>
						<option value="бакалавриат">бакалавриат</option>
						<option value="магистратура">магистратура</option>
					</select>
					<br/><br/>
					<input  align="center" id="btnArea" type="submit" value="Найти">
				</form>
			</div>
		</div>
	</body>
</html>