<!DOCTYPE html>
<html>
	<head>
		<title>ЗУНы профстандартов</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<header>
				<h1 align="center">Сопоставление требования из профессиональных стандартов и вакансий</h1>
		</header>
		<div class="main">
			<div class="decor">
				<label for="prof_area" class="sr-only"><b>Виды деятельности программиста</b></label>
				{% for row in results %}
					<p>{{ row['general_information'] }}</p>
				{% endfor %}
			</div>
		</div>
	</body>
</html>